
.container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6, 75px);
  height: 450px;
  width: 400px;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#zero,
#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#all-clear,
#positive-negative,
#percent,
#decimal {
  background-color: lightgray;
  border: 1px solid gray;
  cursor: pointer;
}

#zero {
  grid-column: 1 / 3;
  grid-row: 6;
}

#one {
  grid-column: 1;
  grid-row: 5;
}

#two {
  grid-column: 2;
  grid-row: 5;
}

#three {
  grid-column: 3;
  grid-row: 5;
}

#four {
  grid-column: 1;
  grid-row: 4;
}

#five {
  grid-column: 2;
  grid-row: 4;
}

#six {
  grid-column: 3;
  grid-row: 4;
}

#seven {
  grid-column: 1;
  grid-row: 3;
}

#eight {
  grid-column: 2;
  grid-row: 3;
}

#nine {
  grid-column: 3;
  grid-row: 3;
}

#all-clear {
  grid-column: 1;
  grid-row: 2;
}

#positive-negative {
  grid-column: 2;
  grid-row: 2;
}

#percent {
  grid-column: 3;
  grid-row: 2;
}

#decimal {
  grid-column: 3;
  grid-row: 6;
}

#divide,
#multiply,
#subtract,
#add,
#equal {
  background-color: orange;
  border: 1px solid gray;
}

#divide {
  grid-column: 4;
  grid-row: 2;
}

#multiply {
  grid-column: 4;
  grid-row: 3;
}

#subtract {
  grid-column: 4;
  grid-row: 4;
}

#add {
  grid-column: 4;
  grid-row: 5;
}

#equal {
  grid-column: 4;
  grid-row: 6;
}

#outputScreen {
  grid-column: 1 / 5;
  grid-row: 1;
  background-color: rgb(109, 108, 108);
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 30px;
  padding: 10px;
}
